<!DOCTYPE html>
<html>

    <span style="color:red">{{text}}</span>

    <redoc spec-url='https://raw.githubusercontent.com/brandondavid/BANGdocs/gh-pages/openapi.json'></redoc>
    <script src="https://rebilly.github.io/ReDoc/releases/latest/redoc.min.js"> </script>

    <!-- Your app specific code -->
    <script type="text/javascript" src="/js/app.js"></script>
</html>