<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head}}

<body class="container">
	<div class="row">

		<div class="col-md-6 col-md-offset-3" style="text-align:center;margin-bottom:48px">
			<h1>Bay Area Networking Guide</h1>
			<p><strong>An unofficial prototype built from <a href="{{link}}" target="_blank">this specification</a></strong>.</p>
			<br />
			<div style="text-align:left;background:#f9f9f9;border:1px solid #ddd;border-radius:3px;padding:12px">
				<p>This prototype features a functional REST API, but no frontend other than this page.  To use the API, please refer to the documentation linked below.  The database is currently populated with placeholder data, so you are welcome to make any submissions, edits, or deletions that you wish.  Please excuse any latency issues, as neither the webserver nor the database are scaled for production.</p>
			</div>

			<h3 style="margin-top:48px;margin-bottom:24px">Documentation</h3>
			<div class="row">
				<div class="col-md-6 col-md-offset-0">
					<div style="text-align:left;background:#f9f9f9;border:1px solid #ddd;border-radius:3px;padding:12px">
						<h4>Project Notes</h4>
						<ul style="padding-left:16px">
							<li><a href="https://github.com/brandondavid/BANG/blob/master/README.md">Development</a></li>
							<li><a href="https://github.com/brandondavid/BANG/blob/master/README.md">Architecture</a></li>
							<li><a href="https://github.com/brandondavid/BANG/blob/master/README.md">Data Generation</a></li>
							<li><a href="https://github.com/brandondavid/BANG/blob/master/README.md">Testing and CI/CD</a></li>
							<li><a href="https://github.com/brandondavid/BANG/blob/master/README.md">Roadmap</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-6">
					<div style="text-align:left;background:#f9f9f9;border:1px solid #ddd;border-radius:3px;padding:12px">
						<h4>REST API</h4>
						<ul style="padding-left:16px;">
							<li><a href="/docs">API Documentation</a></li>
							<li><a href="https://github.com/brandondavid/BANGdocs/blob/master/README.md#developer-portals">Developer Portals</a></li>
							<li><a href="https://github.com/brandondavid/BANGdocs/blob/master/README.md#oas-specification">OAS Specification (JSON, YAML)</a></li>
							<li><a href="https://github.com/brandondavid/BANGdocs/blob/master/README.md#raml-specification">RAML Specification</a></li>
							<li><a href="https://github.com/brandondavid/BANGdocs/blob/master/README.md#cors-proxy">CORS Proxy</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>


  <!-- Turbo library imports: jQuery, Turbo CDN, sample app.js.
  NOTE: These should be minified in a build script -->
  <script type="text/javascript" src="/js/jquery.js"></script>

  <!-- For file uploading. Remove if file upload not necessry -->
  <script type="text/javascript" src="/js/dropzone.js"></script>

  <!-- Turbo CDN. Better to use CDN than to store locally. -->
  <script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>

  <!-- Your app specific code -->
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>
